/* dimensioni e colore custom per le arrow */
body{
    background-color: rgb(32, 31, 32);
    color: white;
}
.fas{
    font-size: 40px;
    color: red;
}
.image-box{
    height: 250px;
}
.image-box>img{
    height: 100%;
    object-fit: cover;
}